root = true

[*]
insert_final_newline = true
indent_style = space
indent_size = 4

[*.imba]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.vue]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_size = 2
